<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhengyuan.liunao.mapper.ClaCouScoMapper">

	




    <select id="findStusScores" resultType="com.zhengyuan.liunao.entity.ClaCouSco">
	    	select  s.num,s.name ,co.coursename ,sco.scores from clas_cour_teach cct 
inner join stu s
on s.classid = cct.classid and s.gradeid = cct.gradeid
inner join stu_cour_sco scs
on scs.stuid = s.num and scs.courseid = cct.courseid
inner join score sco
on sco.scoreid = scs.scoreid
INNER JOIN course co
on cct.courseid = co.courseid
where cct.gradeid=#{0} and cct.classid=#{1} and co.coursename =#{2}
    </select>
    
    
    <update id='updateStuSco'>

		update score  set scores = #{0}
where score.scoreid=
(select info.scoreid from 
			(

			select scs.scoreid FROM
			stu_cour_sco scs
			inner join stu s
			on scs.stuid=s.num
			inner JOIN score sc
			on sc.scoreid = scs.scoreid
			INNER JOIN course co 
			on co.courseid = scs.courseid
			where s.num = #{1} and co.coursename=#{2}
			)
     info

)
    </update>

</mapper>