<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhengyuan.liunao.mapper.ClaCouScoMapper">

	




    <select id="findStusScores" resultType="com.zhengyuan.liunao.entity.ClaCouSco">
	    	select  s.num,s.name ,co.coursename ,sco.scores from clas_cour_teach cct 
inner join stu s
on s.classid = cct.classid and s.gradeid = cct.gradeid
inner join stu_cour_sco scs
on scs.stuid = s.num and scs.courseid = cct.courseid
inner join score sco
on sco.scoreid = scs.scoreid
INNER JOIN course co
on cct.courseid = co.courseid
where cct.gradeid=#{0} and cct.classid=#{1} and co.coursename =#{2}
    </select>

</mapper>